#serverItem {
  width: 100%;
  position: relative;
  height: 20000;
}
#serverItem .wrapper-header {
  width: 100%;
  height: 70px;
  background: #fff;
}
#serverItem .wrapper-header .header-content {
  margin: 0 auto;
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
#serverItem .wrapper-header .header-content .header-logo {
  width: 280px;
  height: 40px;
}
#serverItem .wrapper-header .header-content .header-nav {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
}
#serverItem .wrapper-header .header-content .header-nav .nav-address {
  display: flex;
  flex: 1;
}
#serverItem .wrapper-header .header-content .header-nav .nav-address a img {
  display: block;
}
#serverItem .wrapper-header .header-content .header-nav .nav-address .address-city {
  font-size: 17px;
  color: #121212;
  font-weigh: bold;
}
#serverItem .wrapper-header .header-content .header-nav .nav-address .switch-city {
  font-size: 17px;
  color: #121212;
  font-weigh: bold;
  padding-left: 5px;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu {
  flex: 3;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list {
  display: flex;
  justify-content: space-between;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list .menu-item a {
  font-size: 16px;
  font-weight: bold;
  color: #121212;
  transition: color 0.5s;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list .menu-item a:hover {
  color: #f00;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list .menu-item .shouye {
  color: #f00;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list .menu-item .login {
  color: #fff;
  background: #f00;
  padding: 2px 3px;
  border-radius: 3px;
}
#serverItem .wrapper-header .header-content .header-nav .nav-menu .menu-list .menu-item .login:hover {
  color: #fff;
}
#serverItem .serverItem-content {
  width: 100%;
  margin-top: 10px;
  background: #fff;
}
#serverItem .serverItem-content .htit {
  width: 90%;
  height: 140px;
  margin: 0 auto;
  display: flex;
}
#serverItem .serverItem-content .htit .htit-left {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  line-height: 170px;
  font-size: 14px;
}
#serverItem .serverItem-content .htit .htit-left .business:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
}
#serverItem .serverItem-content .htit .htit-left .business:nth-child(2) {
  margin-left: 10px;
  color: #929292;
}
#serverItem .serverItem-content .htit .htit-left .business:nth-child(3) {
  color: #121212;
}
#serverItem .serverItem-content .htit .htit-left .subscribe:first-child {
  margin-left: 10px;
  color: #929292;
}
#serverItem .serverItem-content .htit .htit-left .subscribe:last-child {
  color: #e84b47;
}
#serverItem .serverItem-content .htit .htit-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#serverItem .serverItem-content .htit .htit-right div {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100px;
  height: 44px;
  position: relative;
}
#serverItem .serverItem-content .htit .htit-right div .topNumber {
  color: #e84b47;
  text-align: center;
  margin-bottom: 7px;
  font-size: 14px;
}
#serverItem .serverItem-content .htit .htit-right div .bottText {
  text-align: center;
  font-size: 14px;
}
#serverItem .serverItem-content .htit .htit-right div .verticalLine {
  position: absolute;
  top: 10px;
  right: 5px;
  margin: auto 0;
  color: #e5e5e5;
}
#serverItem .serverItem-content .nav-menu {
  width: 100%;
  background: #323434;
}
#serverItem .serverItem-content .nav-menu .nav-list {
  width: 90%;
  margin: 0 auto;
  height: 40px;
  display: flex;
}
#serverItem .serverItem-content .nav-menu .nav-list .nav-item {
  width: 140px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
#serverItem .serverItem-content .nav-menu .nav-list :nth-child(1) {
  background: #424242;
}
#serverItem .service-content {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 60px;
}
#serverItem .service-content .content-detail {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
#serverItem .service-content .content-detail .service-left {
  flex: 4;
  margin-right: 10px;
}
#serverItem .service-content .content-detail .service-left .titleText {
  background: #fff;
  width: 100%;
}
#serverItem .service-content .content-detail .service-left .titleText .service-title {
  width: 95%;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  color: #121212;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
#serverItem .service-content .content-detail .service-left .titleText .title-container {
  width: 64px;
  height: 39px;
  padding-bottom: 16px;
  border-bottom: 3px solid #f00;
}
#serverItem .service-content .content-detail .service-left .titleText .commentCount {
  color: #121212;
  font-size: 14px;
  margin-left: 15px;
}
#serverItem .service-content .content-detail .service-left .family {
  width: 100%;
  height: 200px;
  background: #fff;
}
#serverItem .service-content .content-detail .service-left .family .family-inner {
  width: 100%;
  height: 100%;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img {
  width: 75%;
  height: 100%;
  display: flex;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img img {
  width: 150px;
  height: 150px;
  margin: 25px;
  display: block;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail {
  height: 100%;
  margin-top: 25px;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .firstItem {
  height: 42px;
  line-height: 42px;
  font-size: 20px;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .secondItem {
  color: #929292;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .family-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .family-price .price-number {
  color: #fc545e;
  font-size: 30px;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .family-price .price-time {
  color: #fc545e;
  font-size: 14px;
  font-weight: 700;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .family-price .origin-price {
  font-size: 14px;
  color: #898989;
  margin-left: 20px;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-img .family-detail .family-price .origin-price .origin-price-number {
  text-decoration: line-through;
}
#serverItem .service-content .content-detail .service-left .family .family-inner .inner-left .inner-sale {
  height: 100%;
  margin-top: 150px;
  padding-right: 80px;
  color: #929292;
  font-size: 14px;
}
#serverItem .service-content .content-detail .service-left .shopInfo {
  margin-top: 70px;
  background: #fff;
  overflow: hidden;
}
#serverItem .service-content .content-detail .service-left .shopInfo .company {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 10px 25px;
}
#serverItem .service-content .content-detail .service-left .shopInfo .company img {
  vertical-align: middle;
}
#serverItem .service-content .content-detail .service-left .shopInfo .profile {
  line-height: 28px;
  margin: 10px 25px 25px;
  font-size: 16px;
  height: 112px;
}
#serverItem .service-content .content-detail .service-left .userComment {
  width: 100%;
  margin-top: 10px;
  background: #fff;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv {
  width: 90%;
  margin: 0 auto;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem {
  width: 100%;
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem span img {
  width: 40px;
  height: 40px;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList {
  margin-left: 20px;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList div {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList div .starImgs img {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList .location {
  height: 40px;
  color: #898989;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList .location img {
  margin-right: 10px;
  vertical-align: middle;
}
#serverItem .service-content .content-detail .service-left .userComment .commentDiv .commentItem .comentsList .location span {
  font-size: 14px;
}
#serverItem .service-content .content-detail .service-left .fenye {
  width: 100%;
  margin: 0 auto;
  height: 152px;
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#serverItem .service-content .content-detail .service-left .fenye .pageup {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  font-size: 14px;
  color: #929292;
  border: 1px solid #929292;
}
#serverItem .service-content .content-detail .service-left .fenye .showPage {
  width: 470px;
  display: flex;
  justify-content: space-around;
}
#serverItem .service-content .content-detail .service-left .fenye .showPage a {
  width: 32px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #121212;
  border: 1px solid #e5e5e5;
}
#serverItem .service-content .content-detail .service-left .fenye .showPage .active {
  background: #f00;
}
#serverItem .service-content .content-detail .service-left .fenye .pagedown {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  font-size: 14px;
  color: #929292;
  border: 1px solid #929292;
}
#serverItem .service-content .content-detail .service-right {
  display: flex;
  flex: 1;
}
#serverItem .service-content .content-detail .service-right .server-advertisement {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a {
  display: block;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver-container {
  width: 100%;
  height: 100%;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver1 {
  width: 230px;
  height: 300px;
  background-image: url("http://www.daoway.cn/pcimages/fuwushang2_07.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 230px 300px;
  overflow: hidden;
  margin-bottom: 10px;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver1 >img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 50px 0 0 50px;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver2 {
  width: 230px;
  height: 300px;
  background-image: url("http://www.daoway.cn/pcimages/tuijianfuwushang_06.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 230px 300px;
  overflow: hidden;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver2 >img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 50px 0 0 50px;
}
#serverItem .service-content .content-detail .service-right .server-advertisement a .adver-container::hover {
  box-shadow: 5px 5px 15px #ccc;
}
#serverItem .baozhang {
  width: 100%;
  height: 148px;
  background: #fff;
  padding-top: 60px;
  text-align: center;
}
#serverItem .baozhang .baozhang-title {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
}
#serverItem .baozhang .baozhang-title span {
  color: #fb474f;
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
}
#serverItem .baozhang p {
  font-size: 22px;
  color: #3d3838;
  padding-top: 10px;
}
#serverItem .baozhang .servi {
  padding-top: 20px;
}
#serverItem .baozhang .servi .servi-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
#serverItem .baozhang .servi .servi-list .servi-item {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
#serverItem .baozhang .servi .servi-list .servi-item img {
  display: block;
}
#serverItem .baozhang .servi .servi-list .servi-item span {
  padding-left: 3px;
  font-size: 18px;
}
#serverItem .footerContainer {
  width: 100%;
  background: #fff;
  height: 120px;
  padding-top: 50px;
}
#serverItem .footerContainer .footer-city {
  margin: 0 auto;
  width: 87%;
  display: flex;
}
#serverItem .footerContainer .footer-city .hotCity {
  flex: 1;
  font-size: 19px;
  font-weight: 800;
}
#serverItem .footerContainer .footer-city .citiesName {
  flex: 9;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}
#serverItem .footerContainer .footer-city .citiesName a {
  flex: 0 0 9%;
  width: 9%;
  color: #898989;
  font-size: 16px;
  font-weight: 200;
  font-family: "微软雅黑";
  height: 30px;
}
#serverItem .copy {
  width: 87%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: #898989;
  font-size: 16px;
}
