#serverItem
  width 100%
  position relative
  height 20000
  background #fbf8f8
  .wrapper-header
    width 100%
    height 70px
    background #fff
    .header-content
      margin 0 auto
      width 87%
      height 100%
      display flex
      justify-content space-between
      align-items center
      .header-logo
        width 280px
        height 40px
      .header-nav
        height 100%
        width 70%
        display flex
        justify-content space-between
        align-items center
        line-height 100%
        .nav-address
          display flex
          flex 1
          a
            img
              display block
          .address-city
            font-size 17px
            color #121212
            font-weigh bold
          .switch-city
            font-size 17px
            color #121212
            font-weigh bold
            padding-left 5px
        .nav-menu
          flex 3
          .menu-list
            display flex
            justify-content space-between
            .menu-item
              a
                font-size 16px
                font-weight bold
                color #121212
                transition color .5s
              ahover
                color red
              .shouye
                color red
              .login
                color #fff
                background red
                padding 2px 3px
                border-radius 3px
              .loginhover
                color #fff
  .serverItem-content
    width 100%
    background #fff
    margin-top 10px
    .htit
      width 90%
      height 140px
      margin 0 auto
      display flex
      .htit-left
        flex 1
        height 100%
        box-sizing border-box
        line-height 170px
        font-size 14px
        .business:nth-child(1)
          font-size 36px
          font-weight 700
        .business:nth-child(2)
          margin-left 10px
          color #929292
        .business:nth-child(3)
          color #121212
        .subscribe:first-child
          margin-left 10px
          color #929292
        .subscribe:last-child
          color #e84b47
      .htit-right
        flex 1
        height 100%
        display flex
        justify-content flex-end
        div
          flex 1


