#itemDetail
  width 100%
  position relative
  height 20000
  background #fbf8f8
  .wrapper-header
    width 100%
    height 70px
    background #fff
    .header-content
      margin 0 auto
      width 87%
      height 100%
      display flex
      justify-content space-between
      align-items center
      background #fff
      .header-logo
        width 280px
        height 40px
      .header-nav
        height 100%
        width 70%
        display flex
        justify-content space-between
        align-items center
        line-height 100%
        .nav-address
          display flex
          flex 1
          a
            img
              display block
          .address-city
            font-size 17px
            color #121212
            font-weigh bold
          .switch-city
            font-size 17px
            color #121212
            font-weigh bold
            padding-left 5px
        .nav-menu
          flex 3
          .menu-list
            display flex
            justify-content space-between
            .menu-item
              a
                font-size 16px
                font-weight bold
                color #121212
                transition color .5s
              a:hover
                color red
              .shouye
                color red
              .login
                color #fff
                background red
                padding 2px 3px
                border-radius 3px
              .login:hover
                color #fff
  .service-center
    width 100%
    height 85px
    .service-name
      width 90%
      height 100%
      margin 0 auto
      line-height 85px
      font-size 18px
      font-weight bold
  .service-content
    width 100%
    margin-bottom 60px
    .content-detail
      width 90%
      margin 0 auto
      display flex
      .service-left
        flex 4
        margin-right 10px
        .family
          width 100%
          height 200px
          background #ffffff
          .family-inner
            width 100%
            height 100%
            .inner-left
              box-sizing border-box
              overflow hidden
              display flex
              justify-content space-between
              .inner-img
                width 75%
                height 100%
                display flex
                img
                  width 150px
                  height 150px
                  margin 25px
                  display block
                .family-detail
                  height 100%
                  margin-top 25px
                  .firstItem
                    height 42px
                    line-height 42px
                    font-size 20px
                  .secondItem
                    color #929292
                    height 42px
                    font-size 14px
                    line-height 42px
                  .family-price
                    margin-top 20px
                    display flex
                    justify-content space-between
                    .price-number
                      color #fc545e
                      font-size 30px
                    .price-time
                      color #fc545e
                      font-size 14px
                      font-weight 700
                    .origin-price
                      font-size 14px
                      color #898989
                      margin-left 20px
                      .origin-price-number
                        text-decoration line-through
              .inner-sale
                height 200px
                display flex
                flex-direction column
                justify-content center
                align-items center
                padding-right 40px
                .saoyisao
                  font-size 16px
                  line-height 20px
                  font-weight bold
                .yuyue
                  color #fb474f
                  font-size 16px
                  line-height 30px
                  font-weight bold
                img
                  width 130px
                  height 130px
        .shopInfo
          margin-top 10px
          background #ffffff
          overflow hidden
          .infoItem
            padding-top 25px
            .titleText
              background #ffffff
              width 100%
              .service-title
                width 95%
                height 28px
                margin 0 auto
                line-height 28px
                color #121212
                box-sizing border-box
                background #ffffff
              .title-container
                width 74px
                height 41px
                padding 5px
                border-bottom 3px solid #fb474f
                font-weight 700
                font-size 15px
              .commentCount
                color #121212
                font-size 14px
                margin-left 15px
            .profile
              margin  10px 25px 0px
              font-size 14px
              height 420px
              pre
                line-height 24px
                margin 15px 0 0
          .infoItemNext
            width 100%
            .infoItemTitle
              width 90%
              margin 10px 10px 0px 25px
              p
                width 100%
                line-height 24px
                font-size 14px
                height 24px
                padding 10px 0
                >span:nth-child(2)
                  margin-left 15px
                >span:nth-child(3)
                  color red
              >span
                display block
                padding 3px
                width 66px
                height 20px
                border-bottom 3px solid #fb474f
                font-size 14px
                font-weight bold
                text-align center
              pre
                line-height 24px
                font-size 14px
                height 120px
                padding 9px
            .first
              pre
                background #fffcf1
      .service-right
        display flex
        flex 1
        .server-advertisement
          flex 1
          display flex
          flex-direction column
          a
            display block
            .adver-container
              width 100%
              height 100%
              .advertisement-title
                font-size 20px
                padding-left 10px
                border-bottom 1px solid #e5e5e5
                height 60px
                line-height 60px
                text-align left
                background #ffffff
                color #121212
            .adver1
              margin-bottom 10px
              height 356px
              background #fff
              >img
                display block
                width 80px
                height 80px
                text-align center
                margin 0 auto
                padding-top 40px
                margin-bottom 10px
              .centerText
                color #121212
                font-size 18px
                font-weight bold
                text-align center
                margin-bottom 20px
              p
                width 228px
                height 36px
                line-height 36px
                padding 0 10px
                display flex
                justify-content space-between
                >span:nth-child(2)
                  color red
            .adver2
              width 230px
              height 300px
              background-image url("http://www.daoway.cn/pcimages/tuijianfuwushang_06.jpg")
              background-repeat no-repeat
              background-position center center
              background-size 230px 300px
              overflow hidden
              >img
                display block
                width 130px
                height 130px
                margin 50px 0 0 50px
            .adver-container::hover
              box-shadow 5px 5px 15px #ccc
  .baozhang
    width 100%
    height 148px
    background #fff
    padding-top 60px
    text-align center
    .baozhang-title
      font-size: 30px;
      font-family: "微软雅黑";
      font-weight: 800;
      span
        color #fb474f
        font-size: 30px;
        font-family: "微软雅黑";
        font-weight: 800;
    p
      font-size: 22px;
      color: #3d3838;
      padding-top 10px
    .servi
      padding-top 20px
      .servi-list
        width 100%
        display flex
        justify-content center
        .servi-item
          display flex
          justify-content center
          margin-right 25px
          img
            display block
          span
            padding-left 3px
            font-size 18px
  .footerContainer
    width 100%
    background #ffffff
    height 120px
    padding-top 50px
    .footer-city
      margin 0 auto
      width 87%
      display flex
      .hotCity
        flex 1
        font-size 19px
        font-weight 800
      .citiesName
        flex 9
        display flex
        justify-content space-around
        width 100%
        flex-wrap wrap
        align-content space-between
        a
          flex 0 0 9%
          width 9%
          color #898989
          font-size 16px
          font-weight 200
          font-family "微软雅黑"
          height 30px
  .copy
    width 87%
    margin 0 auto
    height 40px
    line-height 40px
    color #898989
    font-size 16px
